services:
  backend:
    build: ./backend
    ports:
      - "4000:4000"
    restart: unless-stopped
    depends_on:
      - postgres

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: unless-stopped

  postgres:
    image: postgres:latest
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: family_dashboard
    ports:
      - "5432:5432"
    volumes:
      - familydashboarddata:/var/lib/postgresql

volumes:
  familydashboarddata:
    external: true
