services:
  backend:
    build: ./backend
    ports:
      - "4000:4000"
    restart: unless-stopped
    volumes:
      - familydashboarddata:/app/dashboard-data.json:rw

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  familydashboarddata:
    external: true
